.hero__wrap {
  padding-top: 188px;
}

.hero__title {
  max-width: 650px;
  margin: 40px 0;
}

.hero__accent {
  display: inline-block;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    width: 160px;
    height: 50px;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $primary;
    opacity: .7;
    z-index: -1;
  }
}

.hero-search {
  display: flex;
  max-width: 600px;
  padding: 12px;
  background: $w;
  box-shadow: 10px 20px 40px rgba(195, 199, 197, 0.1);
  border-radius: 10px;
}

.hero-search__btn {
  margin-left: 10px;
}